@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);

  --color-surface: #f9f9ff;
  --color-surface-container-low: #f1f3ff;
  --color-surface-container-high: #e0e8ff;
  --color-surface-container-highest: #d8e2ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #143161;
  --color-on-surface-variant: #455f90;
  --color-outline-variant: #99b2e9;
  
  --color-primary: #0c56d0;
  --color-primary-dim: #004aba;
  --color-primary-container: #dae2ff;
  --color-on-primary-container: #004ab9;
  
  --color-secondary: #536073;
  --color-secondary-container: #d6e3fb;
  
  --color-error: #9f403d;
  --color-error-container: #fe8983;
}

:root {
  --font-sans: var(--font-inter);
  --font-headline: var(--font-manrope);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.font-headline {
  font-family: var(--font-manrope), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

/* Glassmorphism utility */
.glass-panel {
  background: rgba(249, 249, 255, 0.7);
  backdrop-filter: blur(20px);
}
